.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  border-bottom: 2px solid;
  background: white;
  border-radius: 5px;
  min-height: 0;
}

.container{
  margin-top: 1rem;
}

table {
  text-align: center;
}

.h1-margin{
  margin-bottom: 1rem;
}

.footerBot{
  bottom:0px;
  width:100%;
  display: block;
}

.buttons{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row-link {
  position: block;
  text-decoration: none;
  color: inherit;
}
.row-link:hover {
  position: block;
  text-decoration: none;
  color: #807978;
}
.hover-row:hover {
  background: #e2f4ff;
  outline: none;
}